#service2{
    width: 100%;
    float: left;
    height: 1400px;
    background-color: yellow;
}
.page_left{
    width: 50%;
    float: left;
    height: 600px;
    margin-top: 50px;
    background-color: red;
}
.page_right{    
    width: 50%;
    float: left;
    height: 600px;
    margin-top: 50px;
    background-color: blue;

}