@import "../group/group.scss";
#about{
    width:100%;
    float: left;
}
#story{
    font-family: MyriadPro;
    font-weight: bolder;
    line-height: 50px;
    font-size: 50px;
    color: #333333;
    
}
#description{
    text-align: center;
    width: 100%;
    height:auto;
}
h2{
    font-family: MyriadPro;
    margin-top: 100px;
    color: #333333;
}
#retangle2{
    width: 50px;
    height: 3px;
    position: absolute;
    background-color: #f38181;
    top:140%;
    left:48%;
}
#contentAbout{
    margin-top: 60px;
    font-size: 15pt;
}