@import './creative/creative.scss';
@import './welcome/welcome.scss';
@import './buttonLearnMore/BtnLearnMore.scss';

#contentHeader{
    width:100%;
    float: left;
    position: relative;
    top: 200px;
}